@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    /* background-color: dimgray; */
    
}
body video{
    position: absolute;
    width: 100%;
    height: fit-content;
    object-fit: cover;
    transition: all 4s ease-in;
    transform: scale(0);
    
}
nav{
    background-color: rgb(37, 9, 37);
    
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 95%;
    justify-content: center;
    color: orange;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    border-radius: 48px;
    border: 5px solid #BC6DF2;
}

.box{
    border: 2px solid #7A52C9;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 30px;
    color: cornsilk;
    position: relative;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
    height: fit-content;
}

.gameInfo h1{
    font-size: 5.5vw;
    font-weight: 900;
    background-image: url("download.jpeg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1 ;
    
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    position: relative;
    z-index: 2;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
    height: 64px;
    position: relative;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    body video{
    height: 100vh;
    }
}

footer {
    /* background-color: #f2f2f2; */
    padding: 20px 0;
    color: #333;
}

.col-md-6 {
    display: flex;
    width: 100%;
    /* padding: 0 349px; */
    box-sizing: border-box;
    font-size: 15px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

  }



  